<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="signatureValidationMode" value="require" />
  </config>


  <trustedSigners>
    <repository name="nuget.org" serviceIndex="http://api.nuget.org/v3/index.json">
      <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D"
      hashAlgorithm="SHA256" allowUntrustedRoot="true" />
    </repository>
  </trustedSigners>

</configuration>